ENVIRONMENT=development
ALLOWED_ORIGINS=http://localhost:5173
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=
SUPABASE_JWT_SECRET=
SUPABASE_ANON_KEY=
TEST_KITCHEN_EMAIL=
TEST_KITCHEN_PASSWORD=
TEST_ADMIN_EMAIL=
TEST_ADMIN_PASSWORD=